1: Write a program to check if a number is postive, nagtive or zero.

In [ ]:
num=int(input("enter a number"))
if num> 0:
    print("positive")
elif num< 0:
    print("nagative")
else:
    print("zero")

enter a number3
positive

 2: Input a num and print weather it is Even,odd

In [ ]:
num=int(input("enter a number"))
if num%2==0:
    print("even")
else:
    print("odd")

enter a number2
even

3: Ask age and printif preson is eligible vote.

In [ ]:
age=int(input("enter your age"))
if age>=18:
    print("eligible")
else:
    print("not eligible")

enter your age18
eligible

4: If a number is divisible by 3,4 or both.

In [ ]:
num=int(input("enter a number"))
if num%3==0 and num%4==0:
    print("divisible by both")
elif num%3==0:
    print("divisible by 4")
elif num%4==0:
    print("divisible by 4")
else:
    print("not divisible")

enter a number3
divisible by 4

5: input marks and print grade if, elif or else.

In [ ]:
marks=99
if marks>=90:
    print("grade A+")
elif marks>=80:
    print("grade B+")
elif marks>=70:
    print("grade C+")
else:
    print("fail")

grade A+

6: print num for (1,10).

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

7: Multiple table of 6.

In [ ]:
for i in range(1,11):
    print(f"6*{i}={6*i} ")

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

8: Even number between 1 and 20.

In [ ]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

9: Print each letter of word on a new line.

In [ ]:
word="python"
for i in word:
    print(i)

p
y
t
h
o
n

10: Count in vowels in the word "Eudcation"

In [ ]:
word = "education"
vowels = "aeiouAEIOU"
vowel_count = 0

for letter in word:
    if letter in vowels:
        vowel_count += 1

print(f"The number of vowels in '{word}' is: {vowel_count}")

The number of vowels in 'education' is: 5